<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <style>
    .btn {
      display: inline-block;
      background-color: lightgray;
      color: black;
      text-decoration: none;
      padding: 0.8rem 2rem;
      transition: all 0.5s;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  </style>
</head>
<body>
  <h5>Home Page</h5>
  
  <a href="{% url 'register' %}" class="btn">
    Sign-UP
  </a>

  <a href="{% url 'login' %}" class="btn">
    Sign-In
  </a>
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="btn">
      logout
    </a>
  {% endif %}
<hr>
  {% if user.is_authenticated %}
    {% if user.Category == 'Writer' %} <b>writer = </b>
    <a href="{% url 'Cpost' %}" class="btn">
       createPost
    </a>
    <a href="{% url 'test' %}" class="btn">
       all posts & Details & Delete & Update
    </a>
    <a href="{% url 'history' %}" class="btn">
      <b>{{user}}</b> Post History
    </a> <hr>
    <a href="{% url 'followerList' %}" class="btn">
      <b>{{user}}</b> Your Followers List
    </a> <hr>
    <p><b>Followers Count: </b>{{followers}}</p>
    <p><b>IsValidated: </b>{{isValidated}}</p>
    {% endif %}
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.Category == 'Reader' %} <b>Reader = </b>
    <a href="{% url 'test' %}" class="btn">
       all posts & Details
    </a>
    <p><b>Following Count: </b>{{following}}</p>
    <hr>
    {% endif %}
  {% endif %}
  
  {% if user.is_authenticated %}
    <h2 style="margin-left: 10%;">User</h2>    
    <p><b>User-Name: </b>{{user}}</p>
    <p><b>User-Type: </b>{{user.Category}}</p>
  {% else %}
    <a href="{% url 'login' %}" style="color: rgb(248, 8, 8);  padding-left: 2%;">login</a>
    <a href="{% url 'register' %}" style="margin-left: 10%; color: rgb(248, 82, 6);">New User? Sign up</a>
    <br>
  {% endif %}
  <hr><br>
  <b><u>implemented functionalities: </u></b><br><br>
  <b>Writer DashBoard:------- </b> post {create, update, delete},... Details,... Views,... Post History,... list of post
  <br><br><hr>
</body>
</html>
