<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST">
    {% csrf_token %}
    <div>
      <h2 style="color: rgb(199, 9, 9);">{{object.Title}}</h2>
      
      <p>Dear! <b style="color: rgb(32, 17, 240);">{{ user }}</b></strong> you really want to <b style="color: red;">Delete</b> this post right now...</p>
      <hr><button type="submit">yes</button>
          <a href="{% url 'test' %}" style="margin-left: 10%;" >Cancel</a><hr>
    </div>
  </form>
</body>
</html>