<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% for i in content %}
    <h1>{{ i.Title }}</h1>
    <h3>{{ i.User_Name }}</h3>
    <p>{{ i.Details }}</p>
    <hr>
    {% if user == i.User_Name %}
      <a href="{% url 'delete' i.pk %}" >delete post</a>
      <a style="margin-left: 10%;" href="{% url 'update' i.pk %}" >update post</a>
    {% endif %}
  

  <form action="{% url 'like_post' i.pk %}" method="POST">
		{% csrf_token %}
	<!-- Like Section -->
	{% if user.is_authenticated %}
		{% if liked %}
			<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
		{% else %}	
			<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 

		{% endif %}
	{% else %}
		<small><a href="{% url 'login' %}">Login</a> to like</small>
    <!-- <p>Login to Like</p> -->
	{% endif %}
	
		- {{ total_likes }} Likes
	
	</form>
  {% endfor %}
</body>
</html>