<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .btn {
      display: inline-block;
      background-color: grey;
      padding: 0.5rem;
    }
  </style>
</head>
<body>
  <br>
  all posts (page without filter)
  {% if user.is_authenticated %}
    <a href="{% url 'index' %}" class="btn">DashBoard</a>
    <a href="{% url 'logout' %}" class="btn">
      logout
    </a>
  {% else %}
    <a href="{% url 'register' %}" class="btn">
      Sign-UP
    </a>

    <a href="{% url 'login' %}" class="btn">
      Sign-In
    </a>
  {% endif %}

  <br>
  <hr>
  {% for post,details in list %}
  
    <h1>{{ post.Title }}</h1>
    <h3>{{ post.User_Name }}</h3>
    {% if user.Category == 'Reader' %}
    {% if is_followed %}
        <a href="{% url 'follow' post.User_Name %}" style="border: 1px solid; background: red; padding:10px; color: white;">Unfollow</a>
    {% else %}
        <a href="{% url 'follow' post.User_Name %}" style="border: 1px solid; background: yellow; padding:10px; color: black;">Follow</a>
    {% endif %}

    {% endif %}
  
    <p>{{ post.Details }} 
    <p><b>Number of Followers: </b>{{ details.followers }}</p>
    <p><b>IsValidated: </b>{{details.isValidated}}</p>
    <b style="margin-left: 10%; color: red;">{{ post.views }}  views</b> </p>
    <a href="{% url 'details' post.pk %}">Continue Reading</a> 
    <br><br><br>
    <!-- <b>Viewed Users:------ </b> {{ i.Users_views }} -->
    <hr>
  {% endfor %}
  
</body>
</html>