<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  all posts (page without filter)
  <br>
  <hr>
  {% for i in posts %}
    <h1>{{ i.Title }}</h1>
    <h3>{{ i.User_Name }}</h3>
    <p>{{ i.Details }} <b style="margin-left: 10%; color: red;">{{ i.views }}  views</b> </p>
    <a href="{% url 'details' i.pk %}">Continue Reading</a> 
    <br><br><br>
    <!-- <b>Viewed Users:------ </b> {{ i.Users_views }} -->
    <hr>
  {% endfor %}
</body>
</html>