<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color: rgb(155, 155, 147);">
  <div class="container"><br>
    <h2 style="text-align: center; color: white;">Update your <b>POST</b></h2>
    <form method="POST"><br><br><br>
      {% csrf_token %}
      <div class="form-group" style="color: black;">
      {{ form.as_p }}
      <br><br>
      <button type="submit" class="btn btn-dark btn-lg btn-block" style="color: white;"><b>Publish</b></button>
    </form><br><br>
  </div>
      
    </form>
  </div>
{% endblock %}
</body>
</html>