<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{% block content %}
<body style="background-color: black; color: white;">

  <form action="" method="POST" enctype="multipart/form-data" style="font-size: larger; align-items: center; padding: 10%;">
    <h1><b>Welcome back !</b></h1>
    <br>
    {% csrf_token %}
    {{ form.as_p }}
  <br>
    <button type="submit" style="margin-left: 15%;" class="btn btn-primary">logIn</button>
    <a href="{% url 'register' %}" style="color: aliceblue; margin-left: 10%;" class="btn">
      Create Account
    </a>
  </form>
  
{% endblock %}  
</body>
</html>
